body{
    max-width: 1320px;
    margin: 0 auto;
}
/* Banner Style */
header .banner{
    background-image: url("../images/Banner\ Image.png");
    background-size: cover;
    background-position: center;
    height: 600px;
    border-radius: 16px;

    display: flex;
    justify-content: center;
    align-items: center;


}

.banner-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 632px;
    padding: 20px;
    text-align: center;
    color: #fff;
    gap: 20px;
}

header div .small-text{

    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    text-align: center;
    font-size: 32px;
    color: #fff;
    
}
header div .main-title,.highlight-text{

    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    text-align: center;
    font-size: 72px;
    color: #fff;
    font-weight: 600;
}

/* Shared Font  */
.inter-font{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

/* Offer Section */
main .offer-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 10px;
    margin: 120px 258px;
}
 main .offer-title{
    font-size: 88px;
    font-weight: bold;
    color: #FF0000;
 }
 main .offer-sub-title{
    font-size: 24px;
    color: #FF0000;
    font-weight: 500;
 }
main .offer-categories{
    font-size: 48px;
    font-weight: bold;
    color: #070211;
}
main .offer-section img{
    width: 802px;
}