body{
    max-width: 1320px;
    margin: 0 auto;
}
/* Banner Style */
header .banner{
    background-image: url("../images/Banner\ Image.png");
    background-size: cover;
    background-position: center;
    height: 600px;
    border-radius: 16px;

    display: flex;
    justify-content: center;
    align-items: center;


    box-shadow: inset 350px 350px 350px rgba(0, 0, 0, 0.8);

}

.banner-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 632px;
    padding: 20px;
    text-align: center;
    color: #fff;
    gap: 20px;
}

header div .small-text{

    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    text-align: center;
    font-size: 32px;
    color: #fff;
    
}
header div .main-title,.highlight-text{

    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    text-align: center;
    font-size: 72px;
    color: #fff;
    font-weight: 600;
}

/* Shared Font  */
.inter-font{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

/* Offer Section */
main .offer-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 10px;
    margin: 120px 258px;
}
 main .offer-title{
    font-size: 88px;
    font-weight: bold;
    color: #FF0000;
 }
 main .offer-sub-title{
    font-size: 24px;
    color: #FF0000;
    font-weight: 500;
 }
main .offer-categories{
    font-size: 48px;
    font-weight: bold;
    color: #070211;
}
main .offer-section img{
    width: 802px;
}

/* Welcome Banner */
.welcome-banner{
    background-image: url("../images/Vectorrr.png");
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 600px;
    border-radius: 16px;
    box-shadow: inset 150px 150px 150px 150px rgba(0, 0, 0, 0.8);

    display: flex;
    justify-content: center;
    align-items: center;

}

.welcome-banner-text{
    width: 50%;
}
.welcome-banner img{
    width: 100%;
    border: 2px solid black;
    width: 319px;
    height: 464px;
}

.welcome-banner-text h1{
    font-size: 64px;
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}
.welcome-banner-text p{
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    color: #FFFFFF;
}

.welcome-banner .welcome-banner-text button{
    padding: 15px 25px;
    border-radius: 10px;
    border: none;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 15px;
}

/* Join Section */

.join-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    border-radius: 16px;
    height: 482px;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0.16), rgba(255,0,0,-10));

}
.join-items{
    margin-top: 15px;
    font-size: 32px;
    font-weight: 700;
}
.join-section button{
    margin-top: 15px;
    font-size: 20px;
    padding: 16px 32px;
    border-radius: 8px;
    border: none;
    background-color: #FF0000;
    color: #FFFFFF;
}
section span{
    color: #FF0000;
}